body{
  font-family: sans-serif;
  margin: 0;
  background-color: green;
}
header{
    color: red;
    padding:15px ;
    margin: 15px;
}
main{
    color: yellow;
    padding: 10px;
    margin: 10px;
    width: 100%;
    box-shadow: 0 20px 20px 0;
    font-size: 16px;
    line-height: 2.5;
}
a{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 10px solid transparent;
    background: #333;

    color: white;
    text-align: center;
    box-sizing: border-box;
    border-image-slice: 1;
    border-image-width: 10px;
}
